<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jdebit_scan">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application>
        <activity android:name=".JdebitScanActivity" />
    </application>

</manifest>
